// Colors:
$unnamed-color-1c2126: #1C2126;

//  Font/text values 
$unnamed-font-style-normal: normal;
$unnamed-font-weight-bold: bold;
$unnamed-font-size-13: 13px;
$unnamed-character-spacing-0-39: 0.39px;
$unnamed-line-spacing-19: 19px;
